/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-image);
  background-size: cover;
  display: grid;
  place-items: center;
}

@supports (font-variation-settings: normal) {
  .page {
    font-weight: var(--main-content-font-weight);
  }
}

button {
  background-color: var(--background-color);
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

.header {
  text-transform: uppercase;
  font-family: "PressStart2P-Regular", sans-serif;
  display: grid;
  justify-items: center;
  gap: 25px;
  padding-block-start: clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem);
  padding-block-end: 25px;
  background-color: var(--background-color);
  outline: 1px solid var(--accent-color);
  inline-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  block-size: clamp(20.438rem, 3.85vw + 19.535rem, 23rem);
  margin-block-start: 100px;
  margin-block-end: 100px;
}

.header-content {
  display: grid;
  justify-items: center;
  gap: 20px;
}

.main-header {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}
.subheader {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu {
  display: grid;
  justify-self: end;
  margin-inline-end: clamp(8.313rem, 15.399vw + 4.703rem, 18.563rem);
}

.theme-menu__list {
  display: grid;
  gap: 12px;
  font-size: 14px;
}

.theme-menu__button {
  text-transform: uppercase;
  position: relative;
  transition: color 0.3s ease;
}

.theme-menu__button:hover {
  color: var(--opacity-color);
  cursor: pointer;
}

.theme-menu__button:disabled {
  color: var(--opacity-color);
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--opacity-color);
  transition: width 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:focus-visible {
  color: var(--opacity-color);
}

@keyframes indicator {
  0% {
    left: -20px;
  }

  100% {
    left: -16px;
  }
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -20px;
  animation: 0.5s ease-in-out infinite alternate indicator;
}

.main-content {
  display: grid;
  gap: 53px;
  inline-size: clamp(23.438rem, 30.141vw + 16.373rem, 43.5rem);
}

.card {
  display: grid;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  color: var(--accent-color);
  background-color: var(--background-color);
  outline: 1px solid var(--accent-color);
}
.card-header {
  font-size: 18px;
  font-weight: 700;
  margin: 8px 24px 8px 10px;
  line-height: 19px;
}
.card-content {
  display: grid;
  gap: 27px;
  padding-block-start: 25px;
  padding-inline-start: 25px;
  padding-inline-end: 25px;
  font-weight: 465;
}

.card-image {
  outline: 1px solid var(--accent-color);
  block-size: clamp(23.438rem, 30.141vw + 16.373rem, 43.5rem);
  inline-size: clamp(23.438rem, 30.141vw + 16.373rem, 43.5rem);
  object-fit: cover;
}

.image-wrapper {
  position: relative;
  mix-blend-mode: hard-light;
}

.label-text {
  color: var(--accent-color);
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow: -1px 0 var(--stroke-color), 0 1px var(--stroke-color),
    1px 0 var(--stroke-color), 0 -1px var(--stroke-color);
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .label-text {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.card-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-self: end;
  align-items: center;
  gap: 12px;
  min-inline-size: 169px;
  margin-block-start: 25px;
  margin-block-end: 27px;
  margin-inline-end: 25px;
}

.card__like-button {
  position: relative;
  display: grid;
  justify-content: center;
  outline: 1px solid var(--accent-color);
  padding: 9px 0px;
  min-inline-size: 130px;
  transition: box-shadow 0.3s;
  z-index: 1;
  overflow: hidden;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
  outline: 1px solid var(--accent-color);
}

.button__text {
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-size: 14px;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--blend-color);
}

.card__icon-button {
  border: 2.5px solid transparent;
  transition: 0.3s ease outline;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.save-button {
  outline: 1px solid var(--accent-color);
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
  place-items: center;
  padding: 15px 19px;
  justify-self: center;
  margin-block-end: 100px;
  margin-block-start: 50px;
  transition: box-shadow 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.card__like-button:before,
.save-button:before {
  content: "";
  position: absolute;
  background: var(--accent-color);
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  transition: right 0.5s ease-in-out;
}
.card__like-button:hover:before,
.save-button:hover:before {
  right: 0;
}

.save-button:focus {
  outline: none;
}

.save-button:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
  outline: 1px solid var(--accent-color);
}

.floppy {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--blend-color);
}

@media (375px <= width < 1440px) {
  .save-button {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .floppy {
    block-size: 28px;
    inline-size: 28px;
  }

  .label-text {
    inset-inline-end: 13px;
  }
}

.card__icon-button .core {
  fill: transparent;
  transition-property: fill;
  transition-delay: 0.03s;
}

.card__icon-button:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.card__icon-button .main-body {
  fill: transparent;
  transition-property: fill;
  transition-duration: 0.3s;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s;
}

.card__icon-button:active .core {
  fill: var(--fill-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--fill-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--fill-color);
  transition: fill 0.3s 0.06s;
}

@keyframes scale {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.5;
  }
}

.like-icon.is-liked .heart {
  animation: 0.3s ease-in 0.1s 2 alternate scale;
}

@keyframes bling {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.like-icon.is-liked .sparks {
  animation: 0.3s ease-in 0.3s 2 alternate bling;
}

.dialog-floppy {
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--blend-color);
}

dialog {
  padding: 0;
  border: none;
  background-color: var(--background-color);
  outline: 2px solid var(--accent-color);
  inline-size: 341px;
  padding-top: 30px;
  padding-left: 42px;
  padding-right: 42px;
  display: grid;
  gap: 30px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

dialog:not([open]) {
  display: none;
}

.dialog-text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--accent-color);
  text-transform: uppercase;
}

.dialog-content {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 20px;
}

.dialog-button {
  font-family: var(--accent-font);
  font-size: 14px;
  color: var(--accent-color);
  outline: 2px solid var(--accent-color);
  padding: 12.5px 114.5px;
  margin-block-end: 30px;
  cursor: pointer;
}


.like-icon.is-liked > .card__like-button   {
  padding: 0;
}